{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="bg-image enveloppe-contenu formulaire" style="background-image:url('{{ asset('build/images/bgConnect.jpg')}}')">
		<div class="row mx-1 mx-lg-4 pt-4">
			<div class="col-12">
				<h1>Se connecter</h1>
			</div>
		</div>
		<div class="row m-1 mx-lg-4 d-flex justify-content-center">
			<div class="col-12 largeur-form">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							Bonjour
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}
					<div class="inputForm">
						<label for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						<label for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					</div>
					<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					{#
																													        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																													        See https://symfony.com/doc/current/security/remember_me.html
																													
																													        <div class="checkbox mb-3">
																													            <label>
																													                <input type="checkbox" name="_remember_me"> Remember me
																													            </label>
																													        </div>
																													    #}
					<button class="btnLogin mt-4 ml-auto" type="submit">
						Connexion
					</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
