{% extends 'base.html.twig' %}

{% block title %}Mentions Légales!
{% endblock %}

{% block body %}
	<div class="bg-image enveloppe-contenu " style="background-image:url('{{ asset('build/images/bgMentions.jpg')}}')">
		<div class="row mx-1 mx-lg-4 pt-4">
			<div class="col-12">
				<h1>Mentions légales</h1>
			</div>
		</div>
		<div class="row m-1 mx-lg-4">
			<div class="col-12">
				<p class="texteAccueil p-2">
					Le site web nutrigourmand.fr est édité par Sandrine Coupart, diététicienne et nutritionniste, dont le siège social est situé au :<br>
                    [insérer l'adresse du siège social].<br>
					Numéro SIRET :<br>
                    [insérer le numéro SIRET]<br>
					Téléphone :<br>
                    [insérer le numéro de téléphone]<br>
					Adresse e-mail :<br>
                    contact@nutrigourmand.fr<br>
					<br>Le directeur de la publication du site est Sandrine Coupart.<br>
					Le site nutrigourmand.fr est hébergé par [insérer le nom de l'hébergeur] dont le siège social est situé à [insérer l'adresse de l'hébergeur].<br>
					Le site nutrigourmand.fr est soumis à la loi française. Tout litige relatif à l'utilisation du site sera soumis à la compétence des tribunaux français.<br>
					<br>Propriété intellectuelle : <br>
                    Tous les éléments du site nutrigourmand.fr, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de Sandrine Coupart. Toute reproduction, représentation ou diffusion, en tout ou partie, du contenu du site nutrigourmand.fr sur quelque support ou par quelque procédé que ce soit, sans l'autorisation écrite préalable de Sandrine Coupart est interdite et constitutive d'une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.<br>
					<br>Protection des données personnelles : <br>
                    Les données personnelles collectées par le site nutrigourmand.fr sont traitées dans le respect de la loi Informatique et Libertés du 6 janvier 1978. Les utilisateurs du site disposent d'un droit d'accès, de rectification et de suppression des données les concernant en envoyant un e-mail à [insérer l'adresse e-mail de contact].<br>
					<br>Conditions d'utilisation : <br>
                    L'accès au site nutrigourmand.fr est réservé aux personnes inscrites. L'inscription se fait par le biais d'un abonnement mensuel payant. Les utilisateurs s'engagent à respecter les conditions générales d'utilisation du site. Les utilisateurs sont responsables de la confidentialité de leur mot de passe et de leur identifiant de connexion. Tout usage frauduleux du site peut faire l'objet de poursuites judiciaires.<br>
					<br>Crédits photos : <br>
                    Les photos présentes sur le site nutrigourmand.fr sont la propriété exclusive de Sandrine Coupart ou de ses partenaires. Toute utilisation sans autorisation préalable est interdite.<br>
					<br><br>Nous vous remercions de votre visite sur le site nutrigourmand.fr.<br>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
