<!-- Footer -->
<footer class="pied-de-page d-none d-lg-inline">
	<!-- Copyright -->
	<div class="row bgFooter">
		<div class="col-4 text-center">
			<div class="row">
				<a class="link-footer"  href="{{path('app_politique_de_confidentialite')}}">Politique de Confidentialité</a>
			</div>
			<div class="row">
				<a class="link-footer" href="{{path('app_mentions_legales')}}">Mentions légales</a>
			</div>
		</div>
		<div class="col-4 d-flex align-items-center justify-content-center">
			&copy; Sandrine Coupart - NutriGourmand 2023 
		</div>
		<div class="col-4 d-flex align-items-center justify-content-center">
			<img class="bgReseau mx-4" src="{{ asset('build/images/facebook.svg')}}" alt="facebook">
			<img class="bgReseau mx-4" src="{{ asset('build/images/instagram.svg')}}" alt="instagram">
		</div>
	</div>
	<!-- Copyright -->
</footer>
<!-- Footer -->
