<nav class="haut-de-page navbar navbar-expand-lg">
	<div class="container-fluid m">
		<a class="navbar-brand" href="{{path('app_home')}}">NutriGourmand</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{path('app_home')}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Recettes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item hiddenLi">
						<a class="nav-link" href="{{path('app_mentions_legales')}}">Mentions Légales</a>
					</li>
					<li class="nav-item hiddenLi">
						<a class="nav-link" href="{{path('app_politique_de_confidentialite')}}">Politique de confidentialité</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
