{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div class="bg-image enveloppe-contenu " style="background-image:url('{{ asset('build/images/bgAccueil.jpg')}}')">
		{% include "pages/home/welcome.html.twig"%}
		{% include "pages/home/section.html.twig"%}
	</div>
{% endblock %}
