<div class="row row mx-1 mx-lg-4">
	<div class="col-12 col-lg-4">
		<h2 class="p-2">Mes Services</h2>
		<p class="texteAccueil p-2">
			Je propose des services personnalisés pour répondre à vos besoins en matière de nutrition.<br>
			<span class="fw-bold">Consultations individuelles :</span>
			je propose des consultations individuelles pour établir un plan nutritionnel personnalisé.<br>
			<span class="fw-bold">Plans alimentaires personnalisés :</span>
			je peux créer des plans alimentaires personnalisés pour répondre à vos besoins spécifiques, qu'il s'agisse de perte de poids, de prise de masse musculaire, de régime alimentaire végétalien ou autre.<br>
			<span class="fw-bold">Recettes personnalisés :</span>
			En prenant l'abonnement mensuel à nutrigourmand, je propose des recettes pour vous aider à préparer des repas délicieux en respectant vos régimes et allergènes.<br>
		</p>
	</div>
	<div class="col-12 col-lg-4">
		<h2 class="p-2">A propos</h2>
		<p class="texteAccueil p-2">
			Diététicienne-nutritionniste diplômée de l'Académie de Bordeaux.<br>
			Ma formation initiale d’Ingénieure spécialisée en Agro–Bio–Santé m’a tout d’abord conduit à évoluer dans l’industrie agro-alimentaire comme Responsable Développement de Nouveaux Produits.<br>
			Ainsi, pendant ces treize années, j’ai eu à cœur de développer des produits bons et sains.<br>
			Ce premier parcours, m’a permis d’acquérir une solide connaissance de l’ensemble des aliments.<br>
			Puis, j’ai souhaité me rapprocher des consommateurs et placer mes connaissances et compétences au service de leur bien-être. C’est dans ce but que je suis Diététicienne-Nutritionniste.<br>
		</p>
	</div>
	<div class="col-12 col-lg-4">
		<h2 class="p-2">Horaires et Tarifs</h2>
		<p class="texteAccueil p-2">
			Lundi au vendredi de 9h00 à 12h00 et de 14h00 à 19h00 à mon cabinet 69 rue du paradis, 12345 Mainsir.<br>
			Montant des honoraires :<br>
			- 1ère consultation de nutrition (Environ 1h) : 50€<br>
			- Consultation de suivi de nutrition (Environ 30 min) : 30€<br>
			Informations importantes :<br>
			La plupart des mutuelles prennent en charge mes consultations. Renseignez vous auprès de votre mutuelle.<br>
			Moyens de paiement acceptés : Espèces, chèques et cartes bancaires<br>
			L'abonnement est à 9,99€ par mois. Cela vous donne droit à un accès personnalisé aux recettes sur nutrigourmand.fr .<br>
		</p>
	</div>
</div>
