<div class="row mx-1 mx-lg-4 pt-4">
	<div class="col-12">
		<h1>Accueil</h1>
	</div>
</div>
<div class="row m-1 mx-lg-4">
	<div class="col-12">
		<p class="texteAccueil p-2">
			Bienvenue sur mon site Nutrigourmand, je suis Sandrine Coupart, votre nutritionniste.<br>
			<span class="fw-bold">En vous abonnant à nutrigourmand</span>, je vous aide à retrouver une alimentation saine et équilibrée tout en vous faisant plaisir. Mon approche se base sur une nutrition personnalisée et adaptée à vos régimes et allergies.<br>
			Je vous accompagne dans votre démarche de mieux-être en vous proposant des programmes personnalisés, des recettes savoureuses et des astuces pratiques pour vous aider à atteindre vos objectifs.<br>
			Mon objectif est de vous faire découvrir une nouvelle manière de manger, plus saine, plus gourmande et plus durable pour votre santé et pour la planète.<br>
			J'espère que mon site vous apportera les informations et les ressources nécessaires pour une alimentation saine, équilibrée et savoureuse.<br>
			N'hésitez pas à me contacter pour plus d'informations ou pour prendre rendez-vous avec moi.<br>
			Je vous souhaite une bonne visite sur Nutrigourmand.
		</p>
		<p class=" p-2 bg-success text-center text-white">
			<span class="fw-bold ">Notre abonnement à nutrigourmand pour les recettes personnalisées est à 9,99€ par mois seulement !</span>
		</p>
	</div>
</div>
