{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité
{% endblock %}

{% block body %}
	<div class="bg-image enveloppe-contenu " style="background-image:url('{{ asset('build/images/bgPolitiques.jpg')}}')">
		<div class="row mx-1 mx-lg-4 pt-4">
			<div class="col-12">
				<h1>Politique de confidentialité</h1>
			</div>
		</div>
		<div class="row m-1 mx-lg-4">
			<div class="col-12">
				<p class="texteAccueil p-2">
					Politique de confidentialité pour nutrigourmand.fr<br><br>
					Chez nutrigourmand.fr, nous nous engageons à protéger la confidentialité de vos informations personnelles.
                    Cette politique de confidentialité explique comment nous collectons, utilisons et divulguons vos informations
                    lorsque vous utilisez notre site Web et les services associés.<br><br>
					1. Collecte d'informations personnelles<br>
					Nous collectons des informations personnelles vous concernant lorsque vous vous inscrivez sur notre site Web
                    lorsque vous remplissez un formulaire de contact. Les informations personnelles que nous collectons peuvent 
                    inclure votre nom, votre adresse e-mail, votre adresse postale vos informations de paiement et les informations 
                    sur les régimes alimentaires et les allergies.<br><br>
					2. Utilisation des informations personnelles<br>
					Nous utilisons les informations personnelles que nous collectons pour vous fournir les services que vous avez 
                    demandés, pour traiter vos paiements, pour communiquer avec vous au sujet de votre compte et pour personnaliser 
                    votre expérience sur notre site Web. Nous pouvons également utiliser vos informations personnelles pour envoyer 
                    des informations sur nos produits et services ou pour vous contacter à des fins de recherche de marché.<br><br>
					3. Divulgation des informations personnelles<br>
					Nous ne vendons pas, ne louons pas et ne partageons pas vos informations personnelles avec des tiers à des fins 
                    de marketing sans votre consentement explicite. Nous pouvons divulguer vos informations personnelles à nos 
                    prestataires de services tiers pour fournir des services en notre nom, tels que le traitement des paiements 
                    ou l'hébergement de notre site Web.<br><br>
					4. Sécurité des informations personnelles<br>
					Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre les accès non autorisés,
                    la modification, la divulgation ou la destruction. Nous utilisons des protocoles de sécurité standard pour protéger
                    les informations personnelles que nous collectons, stockons et traitons.<br><br>
					5. Cookies<br>
					Nous utilisons des cookies pour améliorer votre expérience sur notre site Web. Les cookies sont de petits fichiers
                    texte stockés sur votre ordinateur qui collectent des informations sur votre utilisation de notre site Web. Nous 
                    utilisons des cookies pour enregistrer vos préférences et pour personnaliser votre expérience sur notre site Web.<br><br>
					6. Modifications de la politique de confidentialité<br>
					Nous pouvons modifier cette politique de confidentialité de temps à autre. Si nous apportons des modifications 
                    importantes à la manière dont nous utilisons vos informations personnelles, nous vous en informerons par e-mail 
                    ou en affichant un avis sur notre site Web.<br><br>
					7. Contactez-nous<br>
					Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, veuillez nous 
                    contacter à l'adresse suivante : contact@nutrigourmand.fr.<br><br>
					En utilisant notre site Web et nos services, vous acceptez les termes de notre politique de confidentialité.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
