@import "~bootstrap/scss/bootstrap";
//Font
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap");
//couleurs
$atomicTangerine: #ffa07a;
$yellowGreen: #fffacd;
$gummetal: #253031;
$darkSlateGrey: #315659;

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  background-color: #f8f9fa;
  color: $gummetal;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  font-weight: bold;
}

h1 {
  font-family: "Dancing Script", cursive;
  color: $atomicTangerine;
  background-color: $gummetal;
  padding-left: 1em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
  background-color: $atomicTangerine;
}

.conteneur-page {
  position: relative;
  min-height: 100vh;
}

.navbar {
  background-color: $atomicTangerine;
}

.bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.texteAccueil {
  background-color: $yellowGreen;
  opacity: 0.8;
}

.btnLogin {
  background-color: $atomicTangerine;
  color: $gummetal;
  border: 1px solid $gummetal;
  border-radius: 5px;
}

.btnLogin:hover {
  background-color: $gummetal;
  color: $atomicTangerine;
  border: 1px solid $atomicTangerine;
}

.offcanvas-header {
  background-color: $atomicTangerine;
  color: $gummetal;
}

.offcanvas-body {
  background-color: $atomicTangerine;
  color: $gummetal;
}

.inputForm {
  background-color: $atomicTangerine;
  color: $gummetal;
  width: 100%;
  padding: 10px;
}

.formulaire {
  min-height: 100vh;
}

.inputForm{
  border-radius:10px 10px 0 0;
}

@media (min-width: 992px) {
  li.nav-item.hiddenLi {
    display: none;
  }

  a.nav-link:hover {
    font-weight: bold;
  }
  
  .bgFooter {
    color: $atomicTangerine;
    background-color: $gummetal;
    font-size: 1em;
  }

  .formulaire {
    min-height: calc(100vh - 6rem);
  }

  .largeur-form {
    text-align: start;
    width: 50vw;
  }

  .bgReseau {
    height: 30px;
  }

  .link-footer {
    color: $atomicTangerine;
    text-decoration: none;
  }

  .enveloppe-contenu {
    padding-bottom: 2.5rem;
  }

  .haut-de-page {
    height: 3.5rem;
  }

  .pied-de-page {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; /* Hauteur du pied-de-page */
  }
}
