<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="conteneur-page">
			{% block header %}
				{% include "partials/_header.html.twig"%}
			{% endblock %}
			{% block body %}{% endblock %}
			{% block footer %}
				{% include "partials/_footer.html.twig" %}
			{% endblock %}
		</div>
	</body>
</html>
